body{
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 40px;
    background-color: #F5F5F5;
}

hr{
    color: #7d97ad;
    background-color: #7d97ad;
    height: 5px;
}

.jumbotron{
    background-image: url("https://unsplash.it/1800/400?image=681");
    background-size: cover;
    color: #fafbfc;
}

.text-thin{
    font-weight: 100;
}

.text-thick{
    font-weight: 700;
}

.text-muted{
    color: #7d97ad;
}

.title-super{
    font-size: 60px;
}

.title-logo{
    margin-top: 10px;
    height: 120px;
    width: 80px;
}

.img-feature{ /*http://stackoverflow.com/questions/19414856/how-can-i-make-all-images-of-different-height-and-width-the-same-via-css*/
    position: relative;
    display: block;
    margin: auto;
    width:  325px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

}

.col-padding{
    padding-bottom: 20px;
}

@media screen and (max-width: 580px){
    .title-super{
        font-size: 50px;
    }
}

@media screen and (max-width: 490px){
    .title-super{
        font-size: 45px;
    }
}

@media screen and (max-width: 435px){
    .title-super{
        font-size: 40px;
    }
    .title-sub-super{
        font-size: 16px;
    }
}